.Background {
  height: 98vh;
  width: 55%;
  position: absolute;
}
.logo {
  position: relative;
  top: 20px;
  left: 20px;
}
.Sign-up {
  width: 40%;
  margin-left: 60%;
  margin-top: 50px;
}

.Sign h2 {
  font-weight: 500;
  font-size: 30px;
}
span {
  color: #ff432a;
}
.register {
  margin-top: 20px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.gomail {
  display: flex;
  gap: 8px;
}
.Mail h4 {
  font-weight: normal;
  margin-top: -4px;
  font-size: 16px;
}
hr {
  width: 71%;
  margin-top: 10px;
}
.user {
  display: flex;
  gap: 8px;
}
.Username h4 {
  font-weight: normal;
  margin-top: -4px;
  font-size: 16px;
}
.locks {
  display: flex;
  gap: 8px;
}
.locks h4 {
  font-weight: normal;
  margin-top: -4px;
  font-size: 16px;
}
.lock {
  display: flex;
  gap: 8px;
}
.lock h4 {
  font-weight: normal;
  margin-top: -4px;
  font-size: 16px;
}
input {
  border-style: none;
  width: 65%;
  outline: none;
}
.btn {
  width: 70%;
  height: 53px;

  border-radius: 32px;
  background: #ff432a;
  box-shadow: 0px 4px 26px rgba(0, 0, 0, 0.25);
  border: none;
  color: white;
  font-size: 17px;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .Background {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .Sign-up {
    position: relative;
    background-color: rgba(225, 225, 225, 0.8);
    width: 82%;
    margin-left: 7%;
    padding: 55px;
    top: 50px;
    border-radius: 40px;
  }
}
@media only screen and (max-width: 375px) {
  .Background {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .Sign-up {
    position: relative;
    background-color: rgba(225, 225, 225, 0.8);
    width: 80%;
    margin-left: 8%;
    padding: 35px;
    top: 50px;
    border-radius: 40px;
  }
}
@media only screen and (max-width: 320px) {
  .Background {
    height: 100%;
    width: 100%;
    position: absolute;
  }
  .Sign-up {
    position: relative;
    background-color: rgba(225, 225, 225, 0.8);
    width: 90%;
    margin-left: 4%;
    padding: 30px;
    top: 50px;
    border-radius: 40px;
  }
}
